<nav>
  <div class="logo-image">
    <img
      src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
      alt="pinterest-logo"
      class="logo"
    />
  </div>

  <div class="nav-links">
    <a href="/">Feed</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
  </div>
</nav>
