<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Pin</title>
    <link rel="stylesheet" href="/stylesheets/createPin.css">
  </head>
  <body>
    <form action="">
      <label>Title</label>
      <input type="text" />
      <label>Description</label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <label>Board</label>

      <input type="file" />
    </form>
  </body>
</html>
