<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Pin</title>
    <link rel="stylesheet" href="/stylesheets/createPin.css" />
  </head>
  <body>
    <main class="main-container">
      <h1 class="post-heading">Create a new Post.</h1>
      <hr class="line" />

      <form action="/createPost" method="post" enctype="multipart/form-data">
        <label>Title</label>
        <input type="file" name="post-image"/>
        <input type="text" placeholder="Add Title" class="file-text" name="title"/>
        <label>Description</label>
        <textarea name="description id="" cols="30" rows="10" placeholder="Add Description" class="file-text"></textarea> 

        <input type="submit" value="submit" class="submit-btn"/>
      </form>
    </main>
  </body>
</html>
