<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feeds</title>
    <link rel="stylesheet" href="/stylesheets/feed.css" />
  </head>
  <body>
    <!-- Header -->

    <nav>
      <div class="logo-image">
        <img
          src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
          alt="pinterest-logo"
          class="logo"
        />
      </div>

      <div class="nav-links">
        <a href="/">Feed</a>
        <a href="/profile">Profile</a>
        <% if(login == true){%>
        <a href="/logout">Logout</a>
        <%} else { %>
        <a href="/signin">SignIn</a>
        <%} %>
      </div>
    </nav>

    <!-- Main Body -->
    <main>
      <div class="container">
        <div>
          <img
            src="https://images.unsplash.com/photo-1682695795557-17447f921f79?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="feeds"
            class="feed-img"
          />
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1702838834790-304d620ebdb5?q=80&w=1370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="feeds"
            class="feed-img"
          />
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
          <img
            src="https://plus.unsplash.com/premium_photo-1702834009077-7636cfec6a58?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="feeds"
            class="feed-img"
          />
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1682686580452-37f1892ee5e8?q=80&w=1375&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="feeds"
            class="feed-img"
          />
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1702759348427-e58f104b5f91?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="feeds"
            class="feed-img"
          />
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div>
          <img
            src="https://images.unsplash.com/photo-1682685797886-79020b7462a4?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="feeds"
            class="feed-img"
          />
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <% include ./partials/footer.ejs %>
  </body>
</html>
