<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <!-- Navbar -->
    <% include ./partials/navbar.ejs %>

    <!-- Main -->
    <% include ./partials/profileBody.ejs %>

    <script>
      // here we are selecting an span tag and adding event on it . If user click on that icon
      // then we are getting the form input and clicking on it.
      document
        .getElementById("uploadDp")
        .addEventListener("click", function () {
          document.querySelector("#uploadDpForm input").click();
        });


        //  Now after opening the menu if we select any other file and click ok then submit the form -- done by triggering the change event
        //  i.e tracking the event if it was changed or not.
      document.querySelector('#uploadDpForm input').addEventListener('change', function(){
        document.getElementById('uploadDpForm').submit()
      })
    </script>
    <!-- Footer -->
    <% include ./partials/footer.ejs%>
  </body>
</html>
