<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <!-- Logo Image -->
        <img
          src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
          alt="pinterest-logo"
          class="logo"
        />
        <p>Log in to see more</p>

        <!-- flash error -->
        <% if(error.length > 0 ) {%>
          <p class="error"><%= error %></p>
        <% }%>

        <form action="/login" method="post">
          <input type="text" placeholder="Username" name="username" />
          <input type="password" placeholder="Password" name="password" />
          <h4>Forgot your password?</h4>

          <button class="btn">Log in</button>
        </form>

        <p class="terms">
          By continuing, you agree to Pinterest's Terms of Service, Privacy
          policy.
        </p>
        <hr />
        <p class="">Not on Pinterest yet? <a href="/signup"> Sign up </a></p>
      </div>
    </div>
  </body>
</html>
