<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <!-- Logo Image -->
        <img
          src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
          alt="pinterest-logo"
          class="logo"
        />
        <p>Create account to see more</p>
        <form action="/register" method="post">
          <input type="text" placeholder="Username" name="username" />
          <input type="text" placeholder="FullName" name="fullName" />
          <input type="email" placeholder="Email" name="email" />
          <input type="password" placeholder="Password" name="password"/>

          <button class="btn">Register</button>
        </form>

        <p class="terms">
          By continuing, you agree to Pinterest's Terms of Service, Privacy
          policy.
        </p>
        <hr />
        <p class="">
          Already on Pinterest? <a href="/signin"> Sign in </a>
        </p>
      </div>
    </div>
  </body>
</html>
