* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-color: rgb(196, 196, 196)  ;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 4rem;
}

.search {
  padding: 0.9rem 1rem;
  border-radius: 2rem;
  border: 2px solid gray;
  width: 35rem;
}

a {
  color: black;
  font-size: 1.5rem;
}

a:hover {
  color: whitesmoke;
}

.dp-img {
  width: 7rem;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

.button {
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: white;
  background-color: #e60023;
  cursor: pointer;
}

.button:hover {
  background-color: #ad081b;
}

.section2 {
  margin-top: 1rem;
  text-align: center;
}

.pin-create {
  background-color: #e60023;
  color: white;
  padding: 0.9rem 1rem;
  margin-top: 1rem;
}

.pin-create:hover {
  background-color: #ad081b;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1.4rem;
  gap: 1rem;
  align-items: start;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: .7rem;
  background-color: white;
}

.card-image {
  width: 15rem;
}
